
.header{
    width: 1350px;
    height: 180px;
    background-color:darkcyan;
    color:white;
    padding:2px;
    
    
}
aside{
    background-color:darkturquoise;
    width: 400px;
    height: 1000px;
    padding:4px;
}
button{
    background-color:rgb(5, 228, 228);
    font-size:20px;
    height:30px;
    margin-left: 1180px;
    opacity: 0.7;
    border-radius: 10px;
}

h1{
    padding: 4px;
  
}
h3{
    text-align: center;
    font-size:24px;
}
ul{
    text-align: justify;
}
p{
    font-size:19.5px;
    
}

#img1{
    border-radius: 50%;
    width: 150px;
    padding:8px;
    margin-left: 100px;
    
}
#img2 , #img3 {
    width: 50px;
    margin-left: 160px;
    padding: 10px;
}
#imagen5{
    margin-top:-100px;
    padding-left: 110px;   
}
#imagen6{
    padding-left: 130px;
   
    width: 80px;  
}

figcaption{
    text-align:center;
}

main{
    float: right;
    background:white;
    width: 68.4%;
    height:994px;
    padding: 7px;
    
    
}

.formação{
    margin-top: 2px;
}

footer{
    background-color:darkcyan;
    color:white;
 
    text-align: center;
    font-size: 20px;
    height: 50px;
    padding: 3px; 
}

