
.header{
    width: 1350px;
    height: 140px;
    background-color:dimgray;
}

.logo{
   margin-top: -125px;
   padding-left: 1200px;
      
}
.perfil{
    width: 100px;
    border-radius: 50%;
    margin: 10px
    
}


aside{
    background-color:#cccccc;
    width: 200px;
    height: 400px;
    padding:3px;

    
}
main{
    background-color:aqua;
   
}


footer{
    background-color:dimgray;
    text-align: center;
    height: 50px;
    padding: 3px; 
}

